spring:
  application:
    name: amazon

  datasource:
    url: jdbc:postgresql://localhost:5432/ecomerce
    username: david
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database: POSTGRESQL
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
  servlet:
    context-path: /api/v1

security:
  jwt:
    secret-key: TWlTdXBlckNsYXZlSldUZGVDb2RpbmcyNTZCaXRzMTIzNDU2
    expiration: 86400000

management:
  endpoints:
    web:
      exposure:
        include: health,info,mappings
    mappings:
      enabled: true