spring:
  application:
    name: amazon

  port: 8080

  datasource:
    url: jdbc:postgresql://localhost:5432/ecomerce
    username: root
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    database: POSTGRESQL
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

# Validación (comentado)
# mvc:
#   throw-exception-if-not-handler-found: true

# Manejador de excepciones de controlador (comentado)
# web:
#   resources:
#     add-mappings: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,mappings
    mappings:
      enabled: true